body {
	background-color: #f7f7f7;
}

.top {
	margin-top: 30px;
}
.row {
	
}
.box {
	padding: 10px 10px;
	background-color: #fff;
	margin-bottom: 10px;
}
.author {
	font-size: 35px;
    font-weight: 700;
    color: #828282;
}
.description {
	color: #828282;
	font-size: 17px;
    margin-top: 5px;	
}
.text-center {
	text-align: center;
}